/* Generellt oppsett START */

:root {
    --main-dark: #62959c;
    --main-light: #c19277;
    --main-third: #e1bc91;
    --main-fourth: #e3d0b9;
    --main-letters: #ffffff;
    --main-black: #000000;
}

*, html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
}

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    max-width: 1800px;
    width: 90%;
    margin: auto;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}




/* Generellt oppsett STOPP */


  header {
      background: var(--main-dark);
      color: var(--main-letters);
  }

  /* Kode Navbar CSS START */

.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 3rem;
    margin: 0.3em;
}

.navbar-links ul {
    font-size: 1.2rem;
    margin: 0;
    padding-right: 1em;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: var(--main-letters);
    padding: 1rem;
    display: block;
}

.navbar-links li a:hover {
    text-decoration: underline;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--main-letters);
    border-radius: 10px;
}



/* Kode Navbar CSS SLUTT */


/* Hero Start */

.hero {
    height: 300px;
    width: 100%;
    background: url(Images/large.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
    
}

h1 {
    text-align: center;
    color: var(--main-letters);
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

.textbox {
    background-color: rgba(0, 0, 0, 0.5);
    padding: .5em 1em;
    height: fit-content;
    border-radius: 5px;
}
/* Hero slutt */

/* Innhold start */

section {
    padding: 1em;
}


.section1 {
    background: var(--main-light);
    
    
}

.innhold {
    width: 100%;
}

h2 {
    font-size: 1rem;
}


.text {
    background-color: var(--main-fourth);
    padding: 1em;
}

.text p {
    font-size: 0.75rem;
}



.text a {
    text-decoration: none;
    font-size: 0.6rem;
    color: var(--main-black);
    font-weight: bolder;
}

.text a:hover {
    text-decoration: underline;
}

.section2 {
    background: lightgray;
    
}

.text2, .text3 {
    background: var(--main-third);
}



/* Innhold Stopp */


/* Footer CSS Start */

footer {
    background-color: var(--main-dark);
    height: 200px;
    line-height: 1.5em;
    text-align: center;
    color: var(--main-letters);
    padding-top: 2em;
    font-size: 1rem;
    
    
}

.bunntekst {
    display: inline-block;
    text-align: left;
    justify-self: start;
}

.bunntekst ul li {
    list-style: none;
    
}
.bunntekst ul li a{
    text-decoration: none;
    color: var(--main-letters);
}

.bunntekst ul li a:hover {
    text-decoration: underline;
}

/* Footer CSS End */


/* Media Queries */


@media (max-width: 750px) {

/* Media Navbar CSS START */

    .toggle-button {
        display: flex;
        margin-top: 0.4em;
    }

    .logo {
        font-size: 2rem;
        margin: 0.3em;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        font-size: 1.1rem;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
/* Media Navbar CSS SLUTT */




}


@media (min-width: 751px) {

    .hero {
        height: 600px;
    }
    

    h1 {
        font-size: 3rem;
    }

    .container {
        display: flex;
        justify-content: space-around;
        margin: 2em;
    }
    
    .innhold {
        width: 40%;
    }

    .text2 {
        order: 1;
    }

    .bilde2 {
        order: 2;
    }

    h2 {
        font-size: 1.8rem;
    }
    
    
    .text p {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .text a {
        font-size: 1rem;
    }

    footer {
        height: 400px;
        font-size: 2rem;
    }

}

@media (min-width: 1400px) {

    .logo {
        font-size: 4rem;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.8rem;
    }

    .text {
        padding: 2em;
    }
    
    
    .text p {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .text a {
        font-size: 2rem;
    }

    .navbar-links ul {
        font-size: 2rem;
    }


}



